@charset "utf-8";
*{
    padding:0;
    margin:0;
}
html{
    /* width:6.4rem; */
    /* overflow: hidden; */
    background: #f5f5f5;
    font-family: '微软雅黑';
}
a{
    text-decoration:none;
}
header{
    position:fixed;
    top:0;
    z-index: 999;
    width:6.4rem;
    height:0.877rem;
    background:#00a7ff;
    color: #fff;
}
#header{
    height:0.877rem;
    padding-left: 0.3rem;
    padding-top:0.2rem;
}
#header p{
    padding-top:0.1rem;
    float: left;
    font-size: .2rem;
    font-weight: bold;
}
header .icon {
   width: 37px; 
   height: 37px;
   float: left;
   vertical-align: 1em;
   fill: currentColor;
   overflow: hidden;
}

header #address{
    font-size: .3rem;
}
content{
    clear: both;
}
footer{
    width:6.4rem;
    height:0.877rem;
    position:fixed;
    z-index: 999;
    bottom:0;
    box-shadow:0 -1px 0 #999;
    background:#f7f7f7;
}
footer div{
    float: left;
    width:2.1rem;
    text-align:center;
}
footer div:after{
    content:'';
    display:block;
    clear: both;
}
footer a{
    color:#333;
}
footer .active a{
    color:#00a7ff;
}
footer .icon {
   width: 37px; 
   height: 37px;
   vertical-align: 1em;
   fill: currentColor;
   overflow: hidden;
}
footer p{
    font-size: 0.2rem;
    margin-top: -1.33rem;
}
