*{
    margin:0;
    padding:0;
}
ul{
    list-style-type: none;
}
#header a{
    color:#fff;
    
}
/* container */
container{
    position: relative;
    top:1.1rem;
}
#time-pay{
    width:320px;
    margin:0 auto;
    padding:15.0016px 16px;
    background: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0.0781rem;
}
/* 时间选择 */
#time-pay input{
    width: 126px;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #aaa;
    box-sizing: border-box;
    border-radius: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-border-radius: 5px;
    position: absolute;
    top: 11px;
    left: 224px;
}
/* 时间选择结束 */
#time-pay hr{
    margin: .2rem 0;
}

#time-pay #payStyle{
    width: 100px;
    height: 30px;
    font-size: 16px;
    margin-left: 121px;
    border-radius: 5px;
}
/* 购物车已选物品详情 */
.car{
    width:322px;
    margin:0 auto;
    margin-top: 10px;
    padding:15px 15px 0 15px;
    background: #fff;
    border-radius:5px;
    font-size: 18px;
}
.car h4{
    margin-bottom: 10px;
}
.car li{
    padding:10px;
}
.car .r{
    float: right;
}
.car .r span{
    margin-left: 10px;
}
.car .count h4{
    padding:15px 15px 5px 15px;;
    float: right;
}
.car .car:after,
.car .count:after{
    content: "";
    clear: both;
    display: block;
}
/* 备注 */
.car .note textarea{
    margin:8px 0 15px 1px;
    padding:15px;
    width: 289px;
    height: 120px;
    outline:none;
    resize: none;   /*固定大小*/
    font-size: 18px;
    font-weight: bold;
    font-family: '微软雅黑';
    color:rgb(84, 83, 83)
}
.car .note h4{
    margin-top: 10px;
}


.ha{
    height: 65px;
}
/* footer */
#footer{
    width: 6.4rem;
    overflow: hidden;
    height: 0.877rem;
    line-height: 0.877rem;
    position: fixed;
    z-index: 999;
    bottom: 0;
    box-shadow: 0 -1px 0 #999;
    background: #f7f7f7;
    font-size: .2rem;
    font-weight: bold;
}
#footer span{
    margin-left: 15px;
    color:#f03c03;
}
#footer #pay{
    float:right;
    padding:0 50px;
    background: deepskyblue;
    color:#fff;
}