*{
    padding:0;
    margin:0;
}
.content:after{
    content:"";
    display: block;
    clear: both;
}
#diy-right{
    position: relative;
    top: -326px;
    left: 260px;
    font-size: 30px;
}
#quit{
    cursor: pointer;
}