/*@charset "utf-8";*/
body,h1,h2,h3,h4,h5,h6,p,ul,li{
	margin:0;
	padding:0;
}
body{
	background:url(../img/background.png) no-repeat;
	background-size:cover;
	position: relative;
}
.ad-login-header{
	height:60px;
	background:#426374;
}
.ad-login-header h3{
	margin-left:110px;
	color:#fff;
	line-height:60px;
	font-weight: normal;
}
/*登陆区*/
section{
	margin:0 auto;
	margin-top: 95px;
    padding-top: 80px;
	width:521px;
	height:310px;
	/*border:1px solid #f0f;*/
}
input{
	height:23px;
	width:230px;
	padding:5px 10px 5px 10px;
	outline: none;
	border: none;
	font-size: 16px;
	font-family: "Microsoft YaHei";
}
/*输入框*/
.ad-user{
	width:300px;
	height:70px;
	margin-left: 100px;
	position: relative;
}
.user{
	width:30px;
	position:absolute;
	bottom: 0;
}
.userName{
	position: absolute;
	bottom:0;
	left:40px;
}
/*密码框*/
.ad-pwd{
	width:300px;
	height:60px;
	margin-left: 100px;
	position: relative;
}
.pwd{
	width:30px;
	position:absolute;
	bottom: 0;
}
.password{
	position: absolute;
	bottom:0;
	left:40px;
}

/*提示*/
p#tips {
    text-align: center;
    margin-top: 13px;
    color: #900;
}
/*登陆按钮*/
.btn{
	cursor: pointer;
    outline: none;
    border: none;
    background: #5eb85e;
    padding: 10px 0;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    display: block;
    width: 275px;
    margin: 0 auto;
}
.application{
	position: absolute;
    top: 500px;
    left: 940px;
	color: #fff;
	text-decoration: none;
}
footer{
	height:50px;
	width:100%;
	line-height: 50px;
	background: #426374;
	position: absolute;
	bottom: -173px;
	opacity: 0.5;
	text-align: center;
	color:#fff;
	font-size: 16px;
}