.img{
    width: 338px;
    position: absolute;
    top: 44px;
    left: 416px;
}
#editha img {
    width: 200px;
    position: absolute;
    top: 10px;
    left: 85px;
}
#editha p {
    position: absolute;
    top: 22px;
    left: 36px;
    font-size: 18px;
    width: 20px;
}
.img2{
    top: 170px;
    left: 0;
    position: absolute;
}